# docker-compose.yml

version: '3.8'
services:
  postgres:
    container_name: poc-postgres
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=poc
      - POSTGRES_PASSWORD=P@ssw0rd
      - POSTGRES_DB=db_poc
    volumes:
      - poc-postgres:/var/lib/postgresql/data
    ports:
      - '5434:5432'

  rabbitmq:
    container_name: poc-rabbitmq
    image: rabbitmq:4-management
    restart: always
    ports:
      - '15674:15672' # RabbitMQ Management UI
      - '5674:5672' # RabbitMQ AMQP protocol

volumes:
  poc-postgres:
