<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Handlebars: canvas test</title>


</head>
<body>
<h1>Handlebars: canvas test</h1>

<div id="views">
    <img src='https://files.cyberethik.com/files/load/qrcode/file.png'/>
</div>

</body>